.jimu-widget-511-setting{
  /*padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size:14px;*/
  width:100%;
  height:100%;
}

.jimu-widget-511-setting .btn-add-section {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-left: 1px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #538ec8;
  margin-top: 8px;
}

.jimu-widget-511-setting .btn-add-section .btn-add-icon {
  height: 100%;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-511-setting .btn-add-section .btn-add-label {
  height: 100%;
  line-height: 24px;
  margin-left: 7px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}

.addFilterOn {
  background-image: url(images/add_default.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height:16px;
  text-align: center;
  color:transparent;
  cursor: pointer;
  /*padding-left:10px;*/
  /*float:right;*/
}

.addFilterOn:hover {
  background-image: url(images/add_hover.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height:16px;
  text-align: center;
  color:transparent;
  cursor: pointer;
  /*padding-left:10px;*/
  /*float:right;*/
}

.removeFilterOn {
  background-image: url(images/delete_default.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height:16px;
  text-align: center;
  color:transparent;
  cursor: pointer;
  /*padding-left:10px;*/
  /*float:right;*/
  /*float:left;*/

}

.removeFilterOn:hover {
  background-image: url(images/delete_hover.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height:16px;
  text-align: center;
  color:transparent;
  cursor: pointer;
  /*padding-left:10px;*/
  /*float:right;*/
  /*float:left;*/
}

.actions2{
  /*margin-right: 30px;
  float:right;*/
}

.thumb2{
    width:20px;
    height:20px;
    vertical-align:super;

    /*align-content:center;
    text-align:center;*/
}

.recLabel{
    text-align:left;
    vertical-align: top;
    align-content:flex-end;
}

.jimu-widget-511-setting .instruction2{
	 padding-top: 100px;
}

.jimu-widget-511-setting .instruction2 span{
	color: #596679;
}

.jimu-widget-511-setting .instruction{
	 padding-top: 20px;
}

.jimu-widget-511-setting .instruction span{
	color: #596679;
}

/*.jimu-widget-511-setting .editor-container{
    position: relative;
    width: 40%;
	border: 1px solid #d2dae2;
	background-color: #fafafc;
}

.jimu-widget-511-setting .editor-container .uploaderInsideNode embed {
	display: none;
}

.jimu-widget-511-setting .editor-container .dijitEditorIFrameContainer{

}*/

.jimu-widget-511-setting .show{
  width: 120px;
}

.jimu-widget-511-setting .symbol{
  width: 200px;
}

.jimu-widget-511-setting .table-layer-infos{
	/*width: 100%;*/
    /*height: 200px;*/
	/*position: absolute;
	top: 0;
	bottom: 36px;*/
}

.jimu-widget-511-setting .editText{
        /*background-color:blue;
    width:50px;
    height:50px;*/
}

/*.upload{
margin-left:100px;
}*/

.mainPanelIconEditClass{

}

.imageTest{
    /*background-color:red;
    width:50px;
    height:50px;*/
   /*margin-left:50px;
   align-items: center;
   align-content:center;*/
}

.panelContent {
	position: relative;
	width: 200px;
	height: 200px;
}

.page {
	position: relative;
	width: 220px;
	height: 200px;
	display: block;
	background-color: rgba(0,0,0,0.15);
}

.pageHeader {
	position: relative;
	width: 100%;
	height: 200px;
	text-align: center;
	display: block;
}

.pageTitle {
	position: absolute;
	left: 0px;
	bottom: 5px;
	width : 100%;
	height: 20px;
	font-size: 11px;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
}

.pageCounter {
	position: absolute;
	top: 10px;
	width: auto;
    height: auto;
    bottom:25px;
    left: 15px;
    right:15px;
	font-size: 90px;
	line-height: 140px;
	font-family: Steelfish;
	border: 10px solid rgba(0,0,0,1);
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

.bg {
	display: block;
	background-color: rgb(255,255,255);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.roundedTop {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.pageContent {
    position:relative;
    top:0px;
}

.pageIcon {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 50px;
		height: 50px;
	}

.resultsContent {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.pageClose {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}

.pageBody {
	position: absolute;
	top: 200px;
	bottom: 0px;
	width: 100%;
	display: block;
	color: #000000;
	font-size: 10px;
	text-align: center;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.shadow {
	/*-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";*/
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');*/
}

#panelMain {
  display: block;
}

.top-panel {
	position: fixed;
	left: 40px;
	top: 5px;
	color: #ffffff;
	font-family: HelveticaNeueUltraLight;
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	display: block;
	overflow: visible;
	height: auto;
}

#panelTop {
	position: fixed;
	left: 40px;
	top: 5px;
	color: #ffffff;
	font-family: HelveticaNeueUltraLight;
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	display: block;
	overflow: visible;
	height: auto;
}

#panelTitle {
	max-width: 500px;
	height: 50px;
	float: left;
	color: #ffffff;
	padding: 0 5px 0 0;
	display: block;
}

#panelLogo {
    background-color:blue;
	height: 50px;
	overflow: hidden;
	float: left;
	line-height: 50px;
}

#panelSearch {
	float: left;
    background-color:red;
	margin: 10px 0 10px 5px;
	width: 227px;
	height: 30px;
	overflow: hidden;
}

/*.checkbox {
  margin-left:12px;
}*/

/*from SA*/
.claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  border: none !important;
  background-color: transparent !important;
}

.footer {
  text-align: right;
}

.removeButtonWithIcon {
  background-image: url("../images/filterdialog_icons.png");
  background-repeat: no-repeat;
  background-position: -30px 0;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.upButton {
  background-image: url("../../../../jimu.js/css/images/up_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.downButton {
  background-image: url("../../../../jimu.js/css/images/down_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.colorButton {
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
  background-color: #00ff00;
}

.footer {
  padding-top: 5px;
  width: 100%;
  height: 30px;
}

.dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  height: 400px;
}

.dojoxMultiSelectItem {
  padding-bottom: 3px;
  padding-top: 3px;
}

.dijitSelectLabel {
    text-align:left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:300px;
}

.mainPanelPreview {
  float:left;
  height:185px;
  padding:5px 5px 5px 5px;
}

.mainPanelPreviewButton {
  float:left;
  padding:80px 15px 15px 15px;
}

.mainPanelPreviewContainer {
  width:400px;
  height:250px;
  border: 5px dashed gray;
  float:left;
}

.refreshOptionsContainer {
  width:200px;
  height:200px;
  border: 5px dashed gray;
  float:left;
}

.refreshOff {
  display:none;
}

.refreshOn {
  display:block;
}

.mainPanelText {
  width:100%;
}

.refreshOptionsContainer{
  float:left;
  width:100%;
  padding:10px 10px 10px 10px;
}

.fileInput{
  opacity:0;
  width:0px;
  height:0px;
}

.refreshCheckBox{
  float:left;
  width:160px;
}

.refreshInterval{
  float:left;
  width:350px;
}

.override-feature-service-chooser-content {
	width: 580px !important;
	min-height: 150px !important;
}
.override-feature-service-chooser-content .service-browser-container{
	display: none;
}

.uploadCustom {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
  background-image: url(../css/images/edit_default.png);
  background-repeat: no-repeat;
  padding-bottom:10px;
  margin-left: 10px;
}

.uploadCustom:hover {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
  background-image: url(../css/images/edit_hover.png);
  background-repeat: no-repeat;
  padding-bottom:10px;
  margin-left: 10px;
}

.customPlaceholder {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
}

.imageDataGFX {
  /*margin-left:10px;*/
  width:30px;
  height:30px;
}

.imageDataGFX2 {
  /*width:15px;
  height:15px;*/
  display: block;
  float:left;
}

.imageDataGFXMulti {
  width:100%;
  /*margin-left:10px;*/
}

.symPickers{
  float:right;
  overflow:visible;
}

.symPick {
  padding-left: 10px;
}

.symbolPreview {
  float: left;
  width: 280px;
  height: 340px;
  margin-left: 20px;
  margin-top:10px;
  border: 5px dashed gray;
}

.iconPreview {
  float: left;
  width: 280px;
  height: 90px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px dashed gray;
}
